<%= simple_form_for(:help, url: new_help_path) do |f| %>

  <div class="modal-header">

    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Help / Feedback</h4>
    <p>Check out the <a href="#">FAQ</a> or contact a human:</p>
  </div>

  <div class="modal-body">

    <!-- Tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#basic" data-toggle="tab">I'm stuck with something</a></li>
      <li><a href="#advanced" data-toggle="tab">I have a great idea!</a></li>
    </ul><br>


    <div class="form-group">
      <textarea class="form-control" rows="8"><%= params[:message] %></textarea>
    </div>

    <p class="help-block">Meet the Upsite support team:</p>
    <p>
      <img class="img-circle" src="<%= image_url('team/bill.jpg') %>" height="70"> <span class="label label-warning">Bill</span>
      &nbsp;&nbsp;&nbsp;
      <img class="img-circle" src="<%= image_url('team/lo.jpg') %>" height="70" > <span class="label label-warning">Lo</span>
    </p>
  </div>

  <div class="modal-footer">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>

<% end %>



