<% content_for :title, 'Help' %>
<% content_for :javascripts do %>
  <script>
    Intercom('trackEvent', 'viewed-getting-started-guide');
  </script>
<% end %>

<div class="page-header">
  <h5>Upsite / Help</h5>
  <h1>Getting started guide</h1>
  <p>Not sure what's next or need some inspiration? We're here to help!</p>
</div>

<hr>
<div class="media lead">
  <div class="media-left" style="min-width: 50px;">
    <span class="badge badge-lg badge-success">1</span>
  </div>
  <div class="media-body">
    <div class="row">
      <div class="col-sm-5">
        <h2 class="media-heading">See how Upsite works</h2>
        <p>
          Watch this short video to learn what Upsite can do.
          It covers the basic steps of creating a site:
        </p>
        <ul>
          <li>
            <strike>Sign up</strike>
          </li>
          <li>
            Set your site name, description and link color
          </li>
          <li>
            Add your content and arrange it how you like
          </li>
          <li>
            There is no Step 4, your site is online :)
          </li>
        </ul>
      </div>
      <div class="col-sm-7">
        <div class="embed-responsive embed-responsive-16by9" style="padding-bottom: 62%;">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/158535034?color=00D37A&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="media lead">
  <div class="media-left" style="min-width: 50px;">
    <span class="badge badge-lg badge-success">2</span>
  </div>
  <div class="media-body">
    <h2 class="media-heading">Add your content</h2>
    <p class="lead">Aim to answer the following questions:</p>
    <div class="row">
      <div class="col-sm-4">
        <h4>
          <i class="fa fa-industry"></i>&nbsp;
          What?
        </h4>
        <ul>
          <li>What do you do? (services, products)</li>
          <li>What results can you show?<br> (publications, press, testimonials)</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h4>
          <i class="fa fa-user"></i>&nbsp;
          Who?
        </h4>
        <ul>
          <li>Who are you / your team?<br> (name, photo, bio, qualifications)</li>
          <li>Who do you work with? (clients, partners)</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h4>
          <i class="fa fa-lightbulb-o"></i>&nbsp;
          Why?
        </h4>
        <ul>
          <li>Why do you do what you do?</li>
          <li>What motivates you?</li>
          <li>What is your story?</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h4>
          <i class="fa fa-gears"></i>&nbsp;
          How?
        </h4>
        <ul>
          <li>What is your process?</li>
          <li>Are there any criteria / expections for working with you?</li>
          <li>How can people support you?<br> (social media, patronage)</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h4>
          <i class="fa fa-map-marker"></i>&nbsp;
          Where?
        </h4>
        <ul>
          <li>Where are you? (address, map)</li>
          <li>How do people contact you?<br> (contact details)</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h4>
          <i class="fa fa-calendar-o"></i>&nbsp;
          When?
        </h4>
        <ul>
          <li>Do you have upcoming/past events?<br> (talks, gigs, exhibitions)</li>
          <li>Do you have any time-limited offers / promotions?</li>
        </ul>
      </div>
    </div>
    <hr class="spacer spacer-sm">
    <p class="lead">Also consider the following ideas:</p>
    <div class="row">
      <div class="col-sm-4">
        <h4>
          <i class="fa fa-facebook-square"></i>&nbsp;
          Link your profiles
        </h4>
        <p>
          Think of Upsite as your shop window, as a portal to your other places on the web.</li>
          <ul>
            <li>Add links to your online profiles.</li>
            <li>Remember you can also use images as links, which can be more engaging.</li>
        </ul>
        </p>
      </div>
      <div class="col-sm-4">
        <h4>
          <i class="fa fa-line-chart"></i>&nbsp;
          Convert your visitors
        </h4>
        <p>
          What is the main action you want visitors to take when visiting your site?
          <ul>
            <li>
              Think about what you'd like visitors to do (contact you, follow you on Facebook, etc.)
            </li>
            <li>
              Design your site / content to make this clear and simple to do.
            </li>
          </ul>
        </p>
      </div>
      <div class="col-sm-4">
        <h4>
          <i class="fa fa-paint-brush"></i>&nbsp;
          Express yourself
        </h4>
        <p>
          How you choose to present yourself is where your creativity comes in.
          <ul>
            <li>
              See the examples in Step 3 below for some ideas.
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>
  <hr class="spacer spacer-xs">
</div>

<hr>
<div class="media lead">
  <div class="media-left" style="min-width: 50px;">
    <span class="badge badge-lg badge-success">3</span>
  </div>
  <div class="media-body">
    <h2 class="media-heading">Get inspired</h2>
    <p>
      Check out the creative ways people are using Upsite:
    </p>
    <hr class="spacer spacer-xs">
    <div class="row">
      <% [
        'koru-consulting',
        'manitou-supply',
        'meleyal',
        'cacciatore',
        'haidutschek',
        'zardulu',
        'william-lee',
        'maite-lopez-galeano-realizadora',
      ].each do |s| %>
        <div class="col-sm-3">
          <a class="img-border" href="<%= site_link(s) %>" target="examples" style="display: block; max-height: 227px; overflow: hidden; margin-bottom: 30px;">
            <img class="img-responsive" src="<%= image_path("help/start/examples/#{s}.png") %>">
          </a>
        </div>
      <% end %>
    </div>
    <hr class="spacer spacer-xs">
  </div>
</div>

<hr>
<div class="media">
  <div class="media-left" style="min-width: 50px;">
    <span class="badge badge-lg badge-success">4</span>
  </div>
  <div class="media-body">
    <h2 class="media-heading">Spread the word</h2>
    <p class="lead">
      This is your site URL. Share it, make it your email signature, let the world know where to find you!
    </p>
    <div class="row">
      <div class="col-sm-9">
        <h3 style="margin-top: 8px;">
          <a style="text-decoration: underline;" href="<%= site_link(current_user.site) %>" target="_parent">
            <%= site_link(current_user.site).gsub(/\/$/, '') %>
          </a>&nbsp;&nbsp;
          <span class="small text-muted" style="padding-top: 10px;">
            want to
            <a href="mailto:help@upsite.io?subject=<%= current_user.site.subdomain %>: change URL">change this?</a>
          </span>
        </h3>
      </div>
      <div class="col-sm-3">
        <p style="margin-top: 3px;">
          <a href="https://www.facebook.com/sharer/sharer.php?u=<%= site_link(current_user.site) %>" class="btn btn-default" style="color: #4760a7; text-decoration: none;">
            <i class="fa fa-facebook-square fa-lg"></i>&nbsp;
            Share on Facebook
          </a>
        </p>
        <p>
          <a href="<%= "https://twitter.com/intent/tweet?text=Check out my new website&url=#{site_link(@site)}&via=#{t('twitter_username')}" %>" class="btn btn-default" style="color: #59aaf3; text-decoration: none;">
            <i class="fa fa-twitter-square fa-lg"></i>&nbsp;
            Share on Twitter
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="media lead">
  <div class="media-left" style="min-width: 50px;">
    <span class="badge badge-lg badge-success">5</span>
  </div>
  <div class="media-body">
    <h2 class="media-heading">Need help?</h2>
        <p>
          Thank you for using Upsite. For more help or to share feedback just get in touch:
        </p>
    <div class="row">
      <div class="col-sm-4">
        <a href="mailto:help@upsite.io" class="btn btn-default btn-lg btn-block">Contact us</a>
      </div>
    </div>
  </div>
</div>

<hr class="spacer spacer-md">

<%= render 'website/footer' %>
