<%
  url = blocks_path(type: 'text')
  url = block_path(type: 'text', id: @block.id) if @block.persisted?
%>

<%= simple_form_for(@block, as: :block, url: url, remote: true, :html => { :multipart => true }) do |f| %>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title"><%= @block.class.name.humanize %></h4>
  </div>

  <div class="modal-body">
    <%= f.input :body, as: 'text', input_html: { rows: 10 },
                 hint: 'Text can be formatted with <a href="http://markdown-here.com/livedemo.html">Markdown</a>.'.html_safe %>

    <%= f.fields_for :attachments do |ff| %>
      <%= ff.input :upload, label: 'Image' %>
    <% end %>

    <%= f.input :layout, collection: ['image-left', 'image-right'] %>
  </div>

  <div class="modal-footer">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>

<% end %>
