<% content_for :page_title, 'Login' %>

<div class="page-content">
  <hr class="spacer spacer-xs">
  <div class="row">
    <div class="col-sm-6">
      <% if flash[:error] %>
        <div class="alert alert-danger">
          <%= flash[:error] %>
        </div>
      <% end %>
      <%= simple_form_for :session, url: login_path do |f| %>
        <%= f.input :email, input_html: { class: 'input-lg', autofocus: true } %>
        <%= f.input :password, input_html: { class: 'input-lg' } %>
        <%= f.button :submit, class: 'btn btn-success btn-lg' %>
      <% end %>
    </div>
    <div class="col-sm-5" style="margin-top: 20px;">
      <div class="well" style="border: 0; border-left: 5px solid #eee;">
        <h3 style="margin-top: 10px;">
          Need help?
        </h3>
        <p>
          <a href="mailto:help@upsite.io?subject=Login">Contact us</a> for help logging in to your site.
        </p>
      </div>
    </div>
  </div>
  <hr class="spacer spacer-xs">
</div>
