<% content_for :title, 'Login' %>

<div class="page-content">
  <hr class="spacer spacer-xs">
  <div class="row">
    <div class="col-sm-6">
      <% if flash[:error] %>
        <div class="alert alert-danger">
          <%= flash[:error] %>
        </div>
      <% end %>
      <% if flash[:success] %>
        <div class="alert alert-success">
          <%= flash[:success] %>
        </div>
      <% end %>
      <%= simple_form_for :session, url: login_path do |f| %>
        <%= f.input :email, input_html: { class: 'input-lg', autofocus: true } %>
        <%= f.input :password, input_html: { class: 'input-lg' } %>
        <%= f.button :submit, class: 'btn btn-success btn-lg' %>
        <span class="help-inline text-muted">
          <a href="<%= new_password_reset_path %>">Forgot password?</a>
        </span>
      <% end %>
    </div>
  </div>
  <hr class="spacer spacer-xs">
</div>
