<% content_for :title, 'Get a simple website for your small business today' %>

<hr class="spacer spacer-lg">

<div class="row">
  <div class="col-md-8">
  <h1 style="margin-top: 5px;">
    Get a simple website for your small business today.
  </h1>
  <p class="lead">
    <strong class="underline">Upsite</strong> is the easiest way to build a <mark>simple, effective website</mark> in as little as <mark>10 minutes</mark>.
  </p>
  </div>
</div>

<hr class="spacer spacer-sm">
<hr>
<h2>
  <span class="badge badge-lg badge-success" style="margin-left: -50px; margin-right: 10px;">1</span>
  How can <strong class="underline">Upsite</strong> help your business?
</h2>

<div class="row lead">
  <div class="col-sm-10">
    <p>
      Are you self-employed, a small-business owner or entrepeneur?<br>
      Do you want a website that's easy-to-use and helps you <mark>turn your visitors into customers</mark>?
    </p>
    <hr class="spacer spacer-xs">
  </div>
  <div class="col-sm-8">
    <h3>Here's how <strong class="underline">Upsite</strong> can help you:</h3>
    <ul>
      <li><mark>Feel confident</mark> with a professionally designed, branded website.</li>
      <li><mark>Save time</mark> and effort, extremely easy and quick to set up.</li>
      <li><mark>Save money</mark> with our affordable pricing (<strong>free</strong> while in beta).</li>
      <li><mark>Expert guidance</mark> and support to eliminate the confusion of getting a website.</li>
      <li><mark>Do it yourself</mark> &mdash; no relying on a web designer.</li>
      <li><mark>Grow your business</mark> with tools to attract and convert visitors into customers.</li>
      <li><mark>Say goodbye to complicated tools</mark> &mdash; easily transfer your old site to Upsite.</li>
    </ul>
  </div>
  <div class="col-sm-3">
    <h3>
      Upsite is perfect for:
    </h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-shopping-bag"></i> Stores</li>
      <li><i class="fa-li fa fa-coffee"></i> Cafes &amp; Restaurants</li>
      <li><i class="fa-li fa fa-briefcase"></i> Consultants</li>
      <li><i class="fa-li fa fa-laptop"></i> Freelancers</li>
      <li><i class="fa-li fa fa-calendar-o"></i> Venues</li>
      <li><i class="fa-li fa fa-trophy"></i> Trainers</li>
      <li><i class="fa-li fa fa-lightbulb-o"></i> Business ideas</li>
    </ul>
  </div>
</div>

<hr class="spacer spacer-sm">
<hr>
<h2>
  <span class="badge badge-lg badge-success" style="margin-left: -50px; margin-right: 10px;">2</span>
  See how people use <strong class="underline">Upsite</strong> to promote their business:
</h2>
<hr class="spacer spacer-xs">
<div class="row">
  <div class="col-sm-3">
    <div class="img-border" style="display: block; max-height: 240px; overflow: hidden; margin-bottom: 30px; border-color: #9e25e8;">
      <img class="img-responsive" src="<%= image_path("examples/koru-consulting.png") %>">
    </div>
  </div>
  <div class="col-sm-3">
    <h3><strong class="underline" style="border-color: #9e25e8;">Koru Consulting</strong></h3>
    <p>HR troubleshooting service<br>Berkshire</p>
    <blockquote cite="">
      <p>&ldquo;Upsite is really easy, thank you!&rdquo;</p>
      <footer><cite>Sarah Burgess, Co-Founder</cite></footer>
    </blockquote>
  </div>
  <div class="col-sm-3">
    <div class="img-border" style="display: block; max-height: 240px; overflow: hidden; margin-bottom: 30px; border-color: #debaa1;">
      <img class="img-responsive" src="<%= image_path("examples/manitou-supply.png") %>">
    </div>
  </div>
  <div class="col-sm-3">
    <h3><strong class="underline" style="border-color: #debaa1;">Manitou Supply</strong></h3>
    <p>Vintage apparel for guys and girls<br>Alabama</p>
    <blockquote cite="">
      <p>&ldquo;We love it!&rdquo;</p>
      <footer><cite>Luciana Gio, Owner</cite></footer>
    </blockquote>
  </div>
</div>

<hr>
<h2>
  <span class="badge badge-lg badge-success" style="margin-left: -50px; margin-right: 10px;">3</span>
  What makes <strong class="underline">Upsite</strong> different?
</h2>

<p class="lead">
  There are many tools out there to build a website. Upsite has a different philosophy:
</p>

<div class="row lead">
  <div class="col-sm-6">
    <ul>
      <li>
        An Upsite site is a single page, helping you and your customers <mark>focus on what is important</mark>.
      </li>
      <li>
        Upsite gives you tools to create a professional site that also works hard to <mark>convert visitors into customers</mark>.
      </li>
      <li>
        Upsite is focused on presenting your content in a clear way, <mark>without the distractions</mark> of social networks and advertising.
      </li>
    </ul>
  </div>
  <div class="col-sm-6">
    <ul>
      <li>
        With Upsite you can <mark>spend 20% of the time and money</mark>, avoid the endless maintenance that come with most websites and achieve a result that is as good or better.
      </li>
      <li>
        Upsite helps you <mark>craft a compelling overview of your offer</mark>, then easily link to other dedicated services on the web for purchasing, booking, newsletter signup, etc.
      </li>
    </ul>
  </div>
</div>

<hr class="spacer spacer-sm">
<hr>
<h2>
  <span class="badge badge-lg badge-success" style="margin-left: -50px; margin-right: 10px;">4</span>
  See how easy <strong class="underline">Upsite</strong> is to use:
</h2>

<div class="row lead">
  <div class="col-sm-5">
    <p>
      Watch this short video to learn what Upsite can do.
      It covers the basic steps of creating a site:
    </p>
    <ul>
      <li>Sign up in 5 seconds</li>
      <li>Set your site name, description and link color</li>
      <li>Add your content and arrange it how you like</li>
      <li>That's it, your site is online!</li>
    </ul>
  </div>
  <div class="col-sm-7">
    <div class="embed-responsive embed-responsive-16by9" style="padding-bottom: 62%;">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/158535034?color=00D37A&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <hr class="spacer spacer-sm">
  </div>
</div>

<hr>
<h2>
  <span class="badge badge-lg badge-success" style="margin-left: -50px; margin-right: 10px;">5</span>
  Create your <strong class="underline">Upsite</strong> today for free:
</h2>

<div class="row lead">
  <div class="col-sm-6">
    <div class="well">
      <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <%= simple_form_for @site, url: signup_path, data: { remote: true } do |f| %>
          <hr class="spacer spacer-sm">

          <!-- Site -->
          <%= f.input :name,
                label: 'Company / Organization',
                input_html: { placeholder: 'Widget, Co.', data: { autofill_subdomain: '.site_name .help-block' } },
                hint: 'http://widget-co.upsite.io (you can change this later)'
           %>

          <!-- User -->
          <%= f.fields_for :owner do |ff| %>
            <%= ff.input :email,
                  label: 'Your Email',
                  input_html: { id: 'site_owner_email', placeholder: 'julie@widgetco.com' } %>

            <%= ff.input :password,
                  label: 'Choose a password',
                  input_html: { id: 'site_owner_password', placeholder: '6+ characters' } %>

            <!-- Terms -->
            <%= content_for(:links) do %>
              I accept the <%= link_to "Terms of Service", legal_path, tabindex: -1 %>
              and <%=link_to "Privacy Policy", legal_path, tabindex: -1 %>
            <% end %>
              <%= ff.input :terms, as: :boolean, label: content_for(:links),
                    wrapper: :vertical_boolean,
                    input_html: { id: 'site_owner_terms' },
                    label_html: { class: 'small text-muted' } %>
          <% end %>

          <div class="form-group">
            <%= f.button :submit, class: 'btn btn-success btn-lg btn-block', value: 'Create your site now' %>
          </div>
        <% end %>
        <hr class="spacer spacer-xs">
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <h3 style="margin-top: 55px;">
      How much does Upsite cost?
    </h3>
    <p>
      Upsite is <mark>completely <strong>free</strong></mark> while in beta, <mark>no credit-card</mark> is required.
      We will notify you well in advance of any changes to our pricing and you will be under <mark>no obligation to upgrade</mark>.
    </p>
    <h3>Here's what your site includes:</h3>
    <ul>
      <li>Easy tools to <mark>add text, photos, videos, maps</mark> and more</li>
      <li>Easily import content from anywhere on the web</li>
      <li><mark>Guidance and support</mark> to help you make an effective site</li>
      <li>A custom <strong>upsite.io</strong> domain name</li>
      <li>A site that <mark>works on desktop, mobile and tablet</mark></li>
    </ul>
    <hr class="spacer spacer-sm">
    <p class="small text-muted text-right" style="font-size: 14px; color: #bbb;">
      Questions? <a href="mailto:help@upsite.io?subject=Business">Contact us</a>
    </p>
  </div>
</div>

<hr class="spacer spacer-sm">
<%= render 'website/footer' %>
