<% content_for :title, 'Simple websites for creative people' %>

<hr class="spacer spacer-lg">

<div class="row">
  <div class="col-md-10">
  <h1 style="margin-top: 5px;">
    Simple websites for creative people.
  </h1>
  <p class="lead">
    <strong class="underline">Upsite</strong> is the easiest way to build a <mark>simple, effective website</mark> in as little as <mark>10 minutes</mark>.
  </p>
  </div>
</div>

<hr class="spacer spacer-sm">
<hr>
<h2>
  <span class="badge badge-lg badge-success" style="margin-left: -50px; margin-right: 10px;">1</span>
  How can <strong class="underline">Upsite</strong> help you promote your work?
</h2>

<div class="row lead">
  <div class="col-sm-10">
    <p>
      Are you a designer, artist or musician?<br>
      Do you want a website that's easy-to-use and helps you <mark>find an audience for your work</mark>?
    </p>
    <hr class="spacer spacer-xs">
  </div>
  <div class="col-sm-8">
    <h3>Here's how <strong class="underline">Upsite</strong> can help you:</h3>
    <ul>
      <li><mark>Look professional</mark> with a unique website that makes your work the focus.</li>
      <li><mark>Free your time</mark> with a site that's really quick to set up and maintain.</li>
      <li><mark>Save money</mark> with a site that costs less than a cup of coffee per month.</li>
      <li><mark>Creative control</mark> to post anything and arrange it however you want.</li>
      <li><mark>Do it yourself</mark> so there's no need to rely on a friend or programmer.</li>
      <li><mark>Say goodbye to complicated tools</mark> and easily transfer your old site to Upsite.</li>
      <li><mark>Be an early-adopter</mark> and help define a new creative platform that works for you.</li>
    </ul>
  </div>
  <div class="col-sm-3">
    <h3>
      Upsite is perfect for:
    </h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-laptop"></i> Graphic Design</li>
      <li><i class="fa-li fa fa-image"></i> Visual Art</li>
      <li><i class="fa-li fa fa-paint-brush"></i> Illustration</li>
      <li><i class="fa-li fa fa-camera-retro"></i> Photography</li>
      <li><i class="fa-li fa fa-music"></i>Bands, Music &amp; Audio</li>
      <li><i class="fa-li fa fa-microphone"></i> Podcasts</li>
      <li><i class="fa-li fa fa-video-camera"></i> Showreels</li>
    </ul>
  </div>
</div>

<hr class="spacer spacer-sm">
<hr>
<h2>
  <span class="badge badge-lg badge-success" style="margin-left: -50px; margin-right: 10px;">2</span>
  See how people use <strong class="underline">Upsite</strong> to show what they do:
</h2>
<hr class="spacer spacer-xs">
<div class="row">
  <div class="col-sm-3">
    <div class="img-border" style="display: block; max-height: 240px; overflow: hidden; margin-bottom: 30px; border-color: #020cfa;">
      <img class="img-responsive" src="<%= image_path("examples/haidutschek.png") %>">
    </div>
  </div>
  <div class="col-sm-3">
    <h3><strong class="underline" style="border-color: #020cfa;">Oliver Haidutschek</strong></h3>
    <p>Visual artist<br>Beijing, China</p>
    <blockquote cite="">
      <p>&ldquo;It's a great platform for artists to show their work.&rdquo;</p>
    </blockquote>
  </div>
  <div class="col-sm-3">
    <div class="img-border" style="display: block; max-height: 240px; overflow: hidden; margin-bottom: 30px; border-color: #7f57d1;">
      <img class="img-responsive" src="<%= image_path("examples/syrrup.png") %>">
    </div>
  </div>
  <div class="col-sm-3">
    <h3><strong class="underline" style="border-color: #7f57d1;">syrrup</strong></h3>
    <p>Musician<br>Vienna, Austria</p>
    <blockquote cite="">
      <p>&ldquo;It saves me time and lets me focus on music.&rdquo;</p>
    </blockquote>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="img-border" style="display: block; max-height: 243px; overflow: hidden; margin-bottom: 30px; border-color: #0ecadd;">
      <img class="img-responsive" src="<%= image_path("examples/neonxlaser.png") %>">
    </div>
  </div>
  <div class="col-sm-3">
    <h3><strong class="underline" style="border-color: #0ecadd;">NEONxLASER</strong></h3>
    <p>Collective<br>Montevideo, Uruguay</p>
    <blockquote cite="">
      <p>&ldquo;It's incredibly straightforward and easier than any other service on the internet.&rdquo;</p>
    </blockquote>
  </div>
  <div class="col-sm-3">
    <div class="img-border" style="display: block; max-height: 240px; overflow: hidden; margin-bottom: 30px; border-color: #00d37a;">
      <img class="img-responsive" src="<%= image_path("examples/meleyal.png") %>">
    </div>
  </div>
  <div class="col-sm-3">
    <h3><strong class="underline" style="border-color: #00d37a;">William Meleyal</strong></h3>
    <p>Web Designer<br>Brighton, UK</p>
    <blockquote cite="">
      <p>&ldquo;It changed my life!<br>(disclaimer: I make Upsite :)&rdquo;</p>
    </blockquote>
  </div>
</div>

<hr>
<h2>
  <span class="badge badge-lg badge-success" style="margin-left: -50px; margin-right: 10px;">3</span>
  What makes <strong class="underline">Upsite</strong> different?
</h2>

<p class="lead">
  There are many tools out there to build a website. Upsite has a different philosophy:
</p>

<div class="row lead">
  <div class="col-sm-6">
    <ul>
      <li>
        An Upsite site is a single page, helping you and your audience <mark>focus on what is important</mark>.
      </li>
      <li>
        Upsite gives you tools to create a professional site that also works hard to <mark>convert visitors into fans and followers.</mark>.
      </li>
      <li>
        Upsite is focused on presenting your work in a clear way, <mark>without the distractions</mark> of social networks and advertising.
      </li>
    </ul>
  </div>
  <div class="col-sm-6">
    <ul>
      <li>
        With Upsite you can <mark>spend 20% of the time and money</mark>, avoid the endless maintenance that come with most websites and achieve a result that is as good or better.
      </li>
      <li>
        Upsite helps you <mark>create a visual overview of your work</mark>, then easily link to other dedicated services on the web for purchasing, booking, newsletter signup, etc.
      </li>
    </ul>
  </div>
</div>

<hr class="spacer spacer-sm">
<hr>
<h2>
  <span class="badge badge-lg badge-success" style="margin-left: -50px; margin-right: 10px;">4</span>
  See how easy <strong class="underline">Upsite</strong> is to use:
</h2>

<div class="row lead">
  <div class="col-sm-5">
    <p>
      Watch this short video to learn what Upsite can do.
      It covers the basic steps of creating a site:
    </p>
    <ul>
      <li>Sign up in 5 seconds
      </li>
      <li>Set your site name, description and link color</li>
      <li>Add your content and arrange it how you like</li>
      <li>That's it, your site is online!</li>
    </ul>
  </div>
  <div class="col-sm-7">
    <div class="embed-responsive embed-responsive-16by9" style="padding-bottom: 62%;">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/158535034?color=00D37A&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <hr class="spacer spacer-sm">
  </div>
</div>

<hr>
<h2>
  <span class="badge badge-lg badge-success" style="margin-left: -50px; margin-right: 10px;">5</span>
  Create your <strong class="underline">Upsite</strong> today for free:
</h2>

<div class="row lead">
  <div class="col-sm-6">
    <div class="well">
      <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <%= simple_form_for @site, url: signup_path, data: { remote: true } do |f| %>
          <hr class="spacer spacer-sm">

          <!-- Site -->
          <%= f.input :name,
                label: 'Your Name / Alias',
                input_html: { placeholder: 'Julie Appleseed', data: { autofill_subdomain: '.site_name .help-block' } },
                hint: 'http://julie-appleseed.upsite.io (you can change this later)'
           %>

          <!-- User -->
          <%= f.fields_for :owner do |ff| %>
            <%= ff.input :email,
                  label: 'Your Email',
                  input_html: { id: 'site_owner_email', placeholder: 'julie@gmail.com' } %>

            <%= ff.input :password,
                  label: 'Choose a password',
                  input_html: { id: 'site_owner_password', placeholder: '6+ characters' } %>

            <!-- Terms -->
            <%= content_for(:links) do %>
              I accept the <%= link_to "Terms of Service", legal_path, tabindex: -1 %>
              and <%=link_to "Privacy Policy", legal_path, tabindex: -1 %>
            <% end %>
              <%= ff.input :terms, as: :boolean, label: content_for(:links),
                    wrapper: :vertical_boolean,
                    input_html: { id: 'site_owner_terms' },
                    label_html: { class: 'small text-muted' } %>
          <% end %>

          <div class="form-group">
            <%= f.button :submit, class: 'btn btn-success btn-lg btn-block', value: 'Create your site now' %>
          </div>
        <% end %>
        <hr class="spacer spacer-xs">
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <h3 style="margin-top: 55px;">
      How much does Upsite cost?
    </h3>
    <p>
      Upsite is <mark>completely <strong>free</strong></mark> while in beta, <mark>no credit-card</mark> is required.
      We will notify you well in advance of any changes to our pricing and you will be under <mark>no obligation to upgrade</mark>.
    </p>
    <h3>Here's what your site includes:</h3>
    <ul>
      <li>Easy tools to add text, photos, videos, audio and more</li>
      <li>Create <mark>multiple sites</mark> for different projects, clients or groups</li>
      <li>Easily import content from anywhere on the web</li>
      <li>Your own custom <strong>upsite.io</strong> domain name</li>
      <li>A site that <mark>works on desktop, mobile and tablet</mark></li>
    </ul>
    <hr class="spacer spacer-sm">
    <p class="small text-muted text-right" style="font-size: 14px; color: #bbb;">
      Questions? <a href="mailto:help@upsite.io?subject=Creative">Contact us</a>
    </p>
  </div>
</div>

<hr class="spacer spacer-sm">
<%= render 'website/footer' %>
