<%= simple_form_for @site, url: signup_path, data: { remote: true } do |f| %>
  <hr class="spacer spacer-sm">

  <!-- Site -->
  <%= f.input :name,
        label: 'Name / Company',
        input_html: { placeholder: 'My Site', data: { autofill_subdomain: '.site_name .help-block' } },
        hint: 'http://my-site.upsite.io'
   %>

  <%= f.hidden_field :markdown, value: (params[:markdown] == 'true' ? 1 : 0) %>

  <!-- User -->
  <%= f.fields_for :owner do |ff| %>
    <%= ff.input :email,
          label: 'Your Email',
          input_html: { id: 'site_owner_email', placeholder: 'you@email.com' } %>

    <%= ff.input :password,
          label: 'Choose a password',
          input_html: { id: 'site_owner_password', placeholder: '6+ characters' } %>

    <!-- Terms -->
    <%= content_for(:links) do %>
      I accept the <%= link_to "Terms of Service", legal_path, tabindex: -1 %>
      and <%=link_to "Privacy Policy", legal_path, tabindex: -1 %>
    <% end %>
      <%= ff.input :terms, as: :boolean, label: content_for(:links),
            wrapper: :vertical_boolean,
            input_html: { id: 'site_owner_terms' },
            label_html: { class: 'small text-muted' } %>
  <% end %>

  <div class="form-group">
    <%= f.button :submit, class: 'btn btn-success btn-lg btn-block', value: 'Create your site now', data: { loading_text: "Creating..." } %>
  </div>
<% end %>
