<header>
  <div class="container container-narrow center">
    <h1 class="brand"><img src="<%= image_path('pagekit-logo.png') %>" alt="<%= t 'app_name' %>"></h1>
    <p class="lead"><%= t 'tagline' %></p>
    <a class="btn btn-lg btn-primary js-trigger-focus" href="#soon"><%= t '.get_started' %>&hellip;</a>
  </div>
</header>

<main>
  <div class="container container-narrow center">

    <div class="row">
      <div class="col-sm-4">
        <div class="icon"><i class="fa fa-magic"></i></div>
        <h4><%= t '.features.one.title' %></h4>
        <p><%= t '.features.one.body' %></p>
      </div>

      <div class="col-sm-4">
        <div class="icon"><i class="fa fa-cloud"></i></div>
        <h4><%= t '.features.two.title' %></h4>
        <p><%= t '.features.two.body' %></p>
      </div>

      <div class="col-sm-4">
        <div class="icon"><i class="fa fa-tint"></i></div>
        <h4><%= t '.features.three.title' %></h4>
        <p><%= t '.features.three.body' %></p>
      </div>
    </div>

    <hr>

    <div id="soon" class="row">
      <div class="col-sm-8 col-sm-offset-2 form-inline">
        
      <h4><%= t '.coming_soon.title' %></h4>
      <p><%= t '.coming_soon.body' %></p>
      <form action="http://pagekitapp.createsend.com/t/i/s/jhai/" method="post">
        <input class="form-control input-lg" size="25" type="email" name="cm-jhai-jhai" id="jhai-jhai" placeholder="<%= t '.coming_soon.email' %>">
        <button class="btn btn-success btn-lg" type="submit"><%= t '.coming_soon.button' %></button>
      </form>
      </div>
    </div>

    <hr>

  </div>
</main>

<footer>
  <div class="container center">
    <ul class="list-inline">
      <li>&copy; <%= Date.today.year %> <%= t 'app_name' %></li>
      <li><%= t 'made_in_vienna' %></li>
      <!-- <li><a href="https://twitter.com/pagekitapp"><i class="fa fa-twitter"></i> Twitter</a></li> -->
      <!-- <li><a href="https://www.facebook.com/pagekitapp"><i class="fa fa-facebook"></i> Facebook</a></li> -->
    </ul>
  </div>
</footer>
