<%= content_for :title, 'Sign up' %>

<div class="page-content">
  <hr class="spacer spacer-xs">
  <div class="row">
    <div class="col-sm-6">
      <%= simple_form_for @site, url: signup_path do |f| %>
        <!-- Site -->
        <%= f.input :name,
                    label: "Your site name (e.g. Luigi's Pizza)",
                    input_html: {
                      class: 'input-lg',
                        data: {
                          autofill: '#site_subdomain',
                          autofocus: true
                        }
                    }
         %>

        <!-- User -->
        <% if current_user %>
          <%= f.fields_for :owner do |ff| %>
            <%= ff.input :email, label: 'Your email', input_html: { class: 'input-lg', disabled: true, value: current_user.email } %>
          <% end %>
        <% else %>
          <%= f.fields_for :owner do |ff| %>
            <%= ff.input :email, label: 'Your email', input_html: { class: 'input-lg' } %>
            <%= ff.input :password, label: 'Choose a password', input_html: { class: 'input-lg' } %>

            <!-- Terms -->
            <%= content_for(:links) do %>
              I accept the <%= link_to "Terms of Service", legal_path, tabindex: -1 %>
              and <%=link_to "Privacy Policy", legal_path, tabindex: -1 %>
            <% end %>
            <p>
              <%= ff.input :terms, as: :boolean, :label => content_for(:links), wrapper: :vertical_boolean %>
            </p>
          <% end %>
        <% end %>

        <%= f.button :submit, class: 'btn btn-success btn-lg' %>
      <% end %>
    </div>
    <div class="col-sm-5" style="margin-top: 16px;">
      <div class="well" style="border: 0; border-left: 5px solid #eee;">
        <h3>
          How much does Upsite cost?
        </h3>
        <p>
          Upsite is completely <strong>free</strong>, no credit-card is required.
          To keep the service free we show a single, relevant ad on your site. You can later choose to upgrade to our <strong>Pro plan</strong> that is ad-free and offers more advanced features, but there's no obligation.
        </p>
        <hr class="spacer spacer-xs">
        <p class="text-muted">
          <a href="<%= landing_path(slug: 'websites-made-simple') %>">Learn more about Upsite</a>.
          Questions? <a href="mailto:help@upsite.io?subject=Signup">Contact us</a>.
        </p>
      </div>
    </div>
  </div>
  <hr class="spacer spacer-xs">
</div>
