<%= content_for(:header, 'false') %>
<%= content_for(:footer, 'false') %>

<style>
  .column-b {
    padding: 0 10vw;
  }
  @media (min-width: 768px) {
    .column-a,
    .column-a .slide {
      width: 40vw;
    }
    .column-a {
      padding: 0 5vw;
    }
    .column-b,
    .column-b .slide {
      width: 60vw;
    }
  }
</style>

<div class="wrapper">
  <div class="column column-inverse column-a">
    <%
    slides = [
      {
        slug: 'koru-consulting',
        color: '#9e25e8',
        quote: 'Upsite is really easy, thank you!',
        quote_src: 'Sarah, Koru Consulting'
      },
      {
        slug: 'pablo-sansone',
        color: '#01df74',
        quote: "It's really good, I use it because it's simple and intuitive.",
        quote_src: 'Pablo, Creative Director'
      },
      {
        slug: 'manitou-supply',
        color: '#f5895d',
        quote: "We love it!",
        quote_src: 'Luciana, Manitou Supply'
      },
      {
        slug: 'haidutschek',
        color: '#657afc',
        quote: "Quick and simple to upload, rearange, and present my work.",
        quote_src: 'Oliver, Visual Artist'
      },
      {
        slug: 'syrrup',
        color: '#7f57d1',
        quote: "Saves me time and lets me focus on music.",
        quote_src: 'Syrrup, Musician'
      },
      {
        slug: 'neonxlaser',
        color: '#0ecadd',
        quote: "It's incredibly straightforward and easier than any other service on the internet",
        quote_src: 'Juanma, Artist'
      },
      {
        slug: 'meleyal',
        color: '#00d37a',
        quote: "It changed my life! (disclaimer: I make Upsite :)",
        quote_src: 'William, Programmer'
      },
      {
        slug: 'wuni',
        color: '#f31554',
        quote: "Upsite is a great shop window, easy to connect to all my other sites",
        quote_src: 'Lucia, WUNI'
      },
    ]
    %>
    <% slides.each do |s| %>
      <div class="slide" style="background: <%= s[:color] %>;">
        <i class="slide-caret fa fa-caret-right" style="color: <%= s[:color] %>;"></i>
        <h2>Want a site like this?</h2>
        <img src="<%= image_path("signup/#{s[:slug]}-site.png") %>" class="img-responsive">
        <hr class="spacer spacer-xs">
        <div class="media media-flex" style="max-width: 340px;">
          <div class="media-left">
            <img class="media-object img-circle" src="<%= image_path("signup/#{s[:slug]}-avatar.jpg") %>" width="50" height="50">
          </div>
          <div class="media-body">
            <h4 class="media-heading">&ldquo;<%= s[:quote].html_safe %>&rdquo;</h4>
            <%= s[:quote_src] %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="column column-b">
    <div class="text-center">
      <h2>
        Create your <span class="underline">Upsite</span> for free
      </h2>
      <p class="lead">
        Upsite is the simplest way to create a one-page website.
      </p>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-7">
        <%= render 'form' %>
      </div>
      <div class="col-sm-5 hidden-sm hidden-xs">
        <div class="spacer spacer-md"></div>
        <ul class="fa-ul lead">
          <li><i class="fa fa-li fa-check"></i>Easy-to-use</li>
          <li><i class="fa fa-li fa-check"></i>Add text, photos, videos from anywhere on the web</li>
          <li><i class="fa fa-li fa-check"></i>Clean, minimal design</li>
          <li><i class="fa fa-li fa-check"></i>Works on desktop and mobile</li>
          <li><i class="fa fa-li fa-check"></i>Helpful support</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<a href="#modal-contact" class="btn btn-contact" data-toggle="modal" data-backdrop="false">
  <i class="fa fa-comment"></i>
</a>
<div id="modal-contact" class="modal modal-contact fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Questions</h4>
      </div>
      <div class="modal-body">
        <h5>How much does Upsite cost?</h5>
        <p>Upsite is <strong>free</strong> to use for 1 site with up to 12 content blocks.
        You can later choose to upgrade to our <strong>Pro plan</strong> to create up to 10 sites with unlimited content and additional features.</p>
        <hr class="spacer" style="padding-bottom: 5px;">
        <h5>How does Upsite work?</h5>
        <p>
          Check out <a href="https://player.vimeo.com/video/158535034?autoplay=true" target="external">this short video</a> to see how easy it is to make a website with Upsite.
        </p>
        <hr class="spacer" style="padding-bottom: 5px;">
        <h5>Where can I see some sites made with Upsite?</h5>
        <p>
          Our <a href="<%= root_url(subdomain: 'www') %>" target="external">home page</a> lists recently created sites.
        </p>
        <hr class="spacer" style="padding-bottom: 5px;">
        <h5>Other questions?</h5>
        <p><a href="mailto:help@upsite.io?subject=Signup">Contact us</a> and we'll be happy to help.</p>
      </div>
      <div class="modal-footer">
        <p class="text-muted pull-left">
          &copy; <%= Date.today.year %> <a href="<%= root_url(subdomain: 'www') %>" target="_blank">
            Billions & Billions Ltd.
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  // Slideshow
  (function() {
    var current = 0,
        slides = document.querySelectorAll('.slide');

    setInterval(function() {
      for (var i = 0; i < slides.length; i++) {
        slides[i].style.opacity = 0;
      }
      current = (current != slides.length - 1) ? current + 1 : 0;
      slides[current].style.opacity = 1;
    }, 5000);

    $('form[data-remote] input[type="submit"]').on('click', function(e) {
      $(e.target).button('loading')
    })
  })()
</script>
