<%= content_for :title, 'Sign up' %>

<div class="page-content">
  <hr class="spacer spacer-xs">
  <div class="row">
    <div class="col-sm-6">

      <%= simple_form_for @site, url: signup_path do |f| %>

        <!-- Site -->
        <%= f.input :name,
                    label: "Your site name (e.g. Luigi's Pizza)",
                    input_html: {
                      class: 'input-lg',
                        data: {
                          autofill: '#site_subdomain',
                          autofocus: true
                        }
                    }
         %>

        <!-- User -->
        <%= f.fields_for :owner do |ff| %>
          <%= ff.input :email, label: 'Your email', input_html: { class: 'input-lg' } %>
          <%= ff.input :password, label: 'Choose a password', input_html: { class: 'input-lg' } %>

          <!-- Terms -->
          <%= content_for(:links) do %>
            I accept the <%= link_to "Terms of Service", terms_path, tabindex: -1 %>
            and <%=link_to "Privacy Policy", privacy_path, tabindex: -1 %>
          <% end %>
          <p>
            <%= ff.input :terms, as: :boolean, :label => content_for(:links), wrapper: :vertical_boolean %>
          </p>
        <% end %>


        <%= f.button :submit, class: 'btn btn-success btn-lg' %>
        <span class="text-muted help-inline">No credit-card required</span>
      <% end %>
    </div>
  </div>
  <hr class="spacer spacer-xs">
</div>
