<%= content_for :title, 'Sign up' %>

<div class="vertical-center">
  <div class="text-center">
    <h1>
      <a href="<%= root_url(subdomain: 'www') %>">
        <%= t('app_name') %>
      </a>
    </h1>
    <p class="lead">
      <%= t('tagline_short') %>
    </p>
  </div>
  <hr class="spacer spacer-xs">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= simple_form_for @site, url: signup_path, html: { class: 'form-centered' } do |f| %>
        <%= f.input :name, label: "Your site name (e.g. Luigi's Pizza)", input_html: { class: 'input-lg' }, autofocus: true %>
        <%= f.fields_for :owner do |ff| %>
          <%= ff.input :email, label: 'Your email', input_html: { class: 'input-lg' } %>
          <%= ff.input :password, label: 'Create a password', input_html: { class: 'input-lg' } %>
          <%= content_for(:the_links) do %>
            &nbsp;&nbsp;I accept the <%= link_to "Terms of Service", terms_path, tabindex: -1 %>
            and <%=link_to "Privacy Policy", privacy_path, tabindex: -1 %>
          <% end %>
          <p>
          <%= ff.input :terms, as: :boolean, :label => content_for(:the_links), wrapper: :vertical_boolean %>
          </p>
        <% end %>
        <%= f.button :submit, class: 'btn btn-success btn-lg btn-block' %>
      <% end %>
    </div>
  </div>
</div>
