<div class="block block-not-an-ad">
  <h2>Ads</h2>

  <p>This site is supported by:</p>
  <ul class="list-unstyled">
    <% @sponsors.each do |s| %>
      <li>
        <a class="btn btn-sm" href="<%= root_url(subdomain: s.subdomain, ref: @site.subdomain) %>"
          target="_blank"
          style="border-color: <%= s.color %>; background: <%= s.color %>;"
          rel="tooltip" data-placement="right" title="<%= s.description %>">
          <%= s.name %>
        </a>
      </li>
    <% end %>
    <li>
    </li>
  </ul>

  <br><br>

  Made with
  <a href="<%= root_url(subdomain: 'www', ref: @site.subdomain) %>"
     target="_blank"
     rel="tooltip" data-placement="right" title="Make a site like this"
     style="color: black;">
    <strong><%= t('app_name') %></strong>
  </a>
</div>
