<div style="clear: both;">

  <div class="block visible-lg"></div>

  <div class="block block-not-ad">

    <!-- Label -->
    <span class="label not-ad-label">
      AD
    </span>

    <!-- Ad -->
    <div class="not-ad-media">
      <a href="<%= ad_url(id: ad['id'], subdomain: 'ads') %>"
         target="_blank"
         class="not-ad-img">
        <img src="<%= image_path("not-ads/#{ad['image']}") %>" width="160" height="122">
      </a>
      <p class="not-ad-text">
        <a href="<%= ad_url(id: ad['id'], subdomain: 'ads') %>"
           target="_blank">
          <%= ad['text'].html_safe %>
        </a>
      </p>
      <a class="not-ad-via" href="mailto:ads@upsite.io?subject=Advertise with Upsite">
        Ads via Upsite
      </a>
    </div>

    <!-- Controls -->
    <% if @site && current_user == @site.owner %>
      <div class="block-controls">
        <a href="<%= upgrade_path(source: 'remove-ads') %>"
          title="Remove Ads <span class='label label-success'>PRO</label>"
          data-toggle="modal" data-target="#modal"
          data-html="true"
          rel="tooltip"
          data-placement="left"
          data-animation="false">
          <i class="fa fa-trash-o"></i>
        </a>
      </div>
    <% end %>
  </div>

  <div class="block visible-lg"></div>

</div>
