<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Settings</h4>
</div>

<%= render 'sites/settings/nav' %>

<div class="tab-content">
  <div class="tab-pane active">
    <div class="modal-body">
      <ul class="list-group" style="max-height: 350px; overflow: auto; border-bottom: 1px solid #ddd;">
        <% current_user.sites.each do |site| %>
          <li class="list-group-item" href="<%= site_url(site) %>">
            <div class="media">
              <div class="media-left media-middle">
                <a href="<%= site_url(site) %>">
                  <img class="media-object img-circle" src="<%= site_favicon_link(site) %>" width="35">
                </a>
              </div>
              <div class="media-body">
                <span class="pull-right" style="padding-top: 2px;">
                  <%# HACK: current_user.site is their first site %>
                  <% if site != current_user.site %>
                    <a href="<%= destroy_site_path(id: site) %>" class="btn btn-link btn-danger-link" data-method="delete" data-confirm="Are you sure you want to permanently delete this site?">Delete</a>
                  <% end %>
                </span>
                <h4 class="media-heading" style="margin: 8px 0 0 0;">
                  <a href="<%= site_url(site) %>" class="text-link">
                    <%= site.title %>
                  </a>
                </h4>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="modal-footer">
      <% if current_user.sites.count < current_user.site_limit %>
        <span class="text-muted">
          You can create <strong><%= current_user.site_limit - current_user.sites.count %></strong> more sites.&nbsp;&nbsp;
        </span>
        <% if current_user.sites.length < current_user.site_limit %>
          <a href="<%= new_site_path %>" class="btn btn-success" data-toggle="modal" data-target="self">Create a new site</a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
