<%= simple_form_for(@page, url: settings_design_path, remote: true) do |f| %>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Design</h4>
    <!-- Tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#basic" data-toggle="tab">Basic</a></li>
      <li><a href="#advanced" data-toggle="tab">Advanced</a></li>
    </ul>
  </div>

  <div class="modal-body">


    <div class="tab-content">

      <!-- Basic -->
      <div class="tab-pane active" id="basic">
        <fieldset>
          <div class="form-group">
            <label>Logo</label>
            <input type="file" class="form-control">
          </div>

          <%= f.input :theme_color, input_html: { data: { toggle: 'colorpicker' } } %>

          <%= f.input :font, collection: ['Helvetica', 'Lato', 'Georgia', 'Gill Sans'], include_blank: false, hint: 'Preview all of the <a href="https://www.google.com/fonts#ReviewPlace:refine/Collection:Lato|Arvo" target="_blank">available fonts</a>.'.html_safe %>
        </fieldset>
      </div>

      <!-- Advanced -->
      <div class="tab-pane" id="advanced">
        <fieldset>
          <%= f.input :custom_css,
                      label: 'Custom CSS',
                      placeholder: ".selector { color: #bada55; }",
                      hint: 'Check out the docs for help with styling. <a href="#">Learn more...</a>'.html_safe %>

          <div class="form-group">
            <label class="control-label">
              Custom HTML
            </label>
            <input type="text" placeholder='<link rel="import" href="http://...your-web-compenent.html">' class="form-control">
            <p class="help-block">
              Interested in developing your own components for Upsite? <a href="#" data-track="{}">Learn more...</a>.
            </p>
          </div>
        </fieldset>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>

<% end %>
