<div class="block block-image" data-id="<%= image.id %>">

  <%= render 'blocks/controls', block: image %>

  <% if image.image.present? %>
    <% if image.link_url.present? %><a href="<%= image.link_url %>"><% end %>
      <img src="<%= image.image %>">
    <% if image.link_url.present? %></a><% end %>
  <% else %>
    <a data-embed href="<%= image.embed_url %>"></a>
  <% end %>

</div>
