<div class="block block-image" data-id="<%= image.id %>">

  <%= render 'blocks/controls', block: image %>

  <div class="block-content">

    <% if image.link_url.present? %><a href="<%= image.link_url %>"><% end %>
      <img src="<%= image.embed_url %>" class="img-responsive" />
    <% if image.link_url.present? %></a><% end %>

    <% if image.title.present? %>
      <div class="block-caption"><%= image.title %></div>
    <% end %>

  </div>

</div>
