<% if params[:type] %>

  <%= render "blocks/#{params[:type]}/form" %>

<% else %>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>

  <div class="modal-body">
    <div class="text-center">

      <!-- Text -->
      <a href="<%= new_block_path(type: 'text') %>" class="btn btn-circle" data-toggle="modal" data-target="self" >
        <p class="symbol symbol-purple">
          <i class="fa fa-align-left fa-lg"></i>
        </p>
        <p>Text</p>
      </a>

      <!-- Image -->
      <a href="<%= new_block_path(type: 'image') %>" class="btn btn-circle" data-toggle="modal" data-target="self">
        <p class="symbol symbol-green">
          <i class="fa fa-camera fa-lg"></i><br>
        </p>
        <p>Image</p>
      </a>

      <!-- Video -->
      <a href="<%= new_block_path(type: 'video') %>" class="btn btn-circle" data-toggle="modal" data-target="self">
        <p class="symbol symbol-red">
          <i class="fa fa-video-camera fa-lg"></i><br>
        </p>
        <p>Video</p>
      </a>

      <!-- Audio -->
      <a href="<%= new_block_path(type: 'audio') %>" class="btn btn-circle" data-toggle="modal" data-target="self">
        <p class="symbol symbol-orange">
          <i class="fa fa-microphone fa-lg"></i><br>
        </p>
        <p>Audio</p>
      </a>

      <!-- Map -->
      <a href="<%= new_block_path(type: 'map') %>" class="btn btn-circle" data-toggle="modal" data-target="self">
        <p class="symbol symbol-blue">
          <i class="fa fa-map-marker fa-lg"></i><br>
        </p>
        <p>Map</p>
      </a>

      <!-- Blank -->
      <a href="<%= new_block_path(type: 'space') %>" class="btn btn-circle" data-toggle="modal" data-target="self">
        <p class="symbol symbol-gray">
          <i class="fa fa-square-o fa-lg"></i><br>
        </p>
        <p>Space</p>
      </a>

    </div>
  </div>

  <div class="modal-footer text-right" style="padding-top: 0;">
    <a href="<%= new_help_path(message: 'Something missing? Let us know what you want to add...') %>" class="btn btn-link" data-toggle="modal" data-target="self">More...</a>
  </div>

<% end %>
