<header class="page-header">
  <div class="container">
  <h1>
    <%= @page.name %>
    <small><%= @page.subdomain %>.pagekitapp.com</small>
  </h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <%= render @widgets %> 
  </div>
</div>

<footer class="page-footer">
  <div class="container">
    &copy; <%= "#{Date.today.year} #{@page.name}" %>
  </div>
</footer>

<div class="hud">
  <a href="<%= new_widget_path %>" class="add symbol symbol-small" title="Add" data-toggle="modal" rel="tooltip" data-target="#modal" data-placement="left">
    <i class="fa fa-plus fa-lg"></i>
  </a>

  <a href="#" class="design symbol symbol-small" title="Design" rel="tooltip" data-placement="left">
    <i class="fa fa-tint fa-lg"></i>
  </a>
</div>

<%= render 'modal' %>
<%= render 'modal', size: 'small' %>
