<header class="page-header">
  <h1>
    <%= @page.title %>
    <small><%= @page.subdomain %>.pagekitapp.com</small>
  </h1>
</header>

<div class="widgets row"></div>

<footer class="page-footer">
  &copy; <%= "#{Date.today.year} #{@page.title}" %>
</footer>

<% content_for :bootstrap_data do %>
  app.page.set(<%= render_json_template 'pages/show' %>);
  app.page.widgets.reset(<%= render_json_template 'widgets/index' %>);
<% end %>
