<% content_for :page_title, @page.name %>

<%= render 'theme.scss' %>

<% if false && @blocks.present? %>
  <%= render @blocks %>
<% else %>
  <%# render 'blank_slate' %>
  <%= render 'styleguide/nav_bar' %>
  <%= render 'styleguide/image_fill' %>
  <%# render 'styleguide/spacer' %>
  <%= render 'styleguide/text' %>
  <%= render 'styleguide/text_fill' %>
  <%= render 'styleguide/image' %>
<% end %>

<%= render 'hud' %>
<%= render 'modal' %>
<%= render 'modal', size: 'small' %>

<!-- <a class="app-link" href="http://www.pagekitapp.com/" target="_blank" title="<%= t('tagline') %>"><%= t('app_name') %></a> -->
