<% content_for :page_title, @page.name %>

<%= render 'theme.scss' %>
<%= render @widgets %> 
<%# render 'widgets/footer/footer' %>
<%= render 'hud' %>
<%= render 'modal' %>
<%= render 'modal', size: 'small' %>

<a class="app-link" href="http://www.pagekitapp.com/" target="_blank" title="<%= t 'tagline' %>">PageKit</a>
