<footer class="page-footer">
  <small class="text-muted">
    &copy; <%= Date.today.year %> <a href="http://b.illions.co" target="_blank">Billions &amp; Billions Ltd</a> /
    <a href="<%= legal_path %>">Legal</a> /
    <a href="<%= root_url(subdomain: 'faq') %>" data-no-turbolink>FAQ</a> /
    <a href="<%= blog_path %>" data-no-turbolink>Blog</a> /
    <a href="mailto:hello@upsite.io">Contact</a> /
    <a href="<%= login_path %>" data-no-turbolink>Log in</a>
  </small>
</footer>
