<footer class="page-footer">
  <small class="text-muted">
    &copy; <%= Date.today.year %> <a href="http://b.illions.co" target="_blank">Billions &amp; Billions Ltd</a> /
    <a href="<%= terms_path %>">Terms</a> /
    <a href="<%= privacy_path %>">Privacy</a> /
    <a href="<%= root_url(subdomain: 'upsite') %>">About</a> /
    <a href="mailto:hello@upsite.io">Contact</a> /
    <a href="<%= login_path %>">Log in</a>
  </small>
</footer>
