<div class="page-header">
  <h1>
    <a href="<%= root_url(subdomain: 'www') %>">
      <%= t('app_name') %> <%= content_for?(:title) ? "/ #{content_for(:title)}" : '' %>
    </a>
  </h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <p>
        <%= t('tagline') %>
      </p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <p style="margin-top: 1px;" class="text-right">
        <a href="https://player.vimeo.com/video/158535034?autoplay=true"
          class="btn btn-default"
          target="_blank">See how it works</a>
        &nbsp;
        <a href="<%= signup_path %>"
          class="btn btn-success">Get started &rarr;</a>
      </p>
    </div>
  </div>
</div>
