<div class="page-header">
  <h1>
    <a href="<%= root_url(subdomain: 'www') %>">
      <%= t('app_name') %>
    </a>
  </h1>
  <p>
    <%= t('tagline_short') %>
    <a href="<%= login_path %>">Login</a> or
    <a href="<%= signup_path %>">Get started &rarr;</a>
  </p>
</div>
