<div class="page-header">
  <h1>
    <a href="<%= root_url(subdomain: 'www', protocol: 'http://') %>">
      <%= t('app_name') %>
    </a>
  </h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <p>
        <%= t('tagline') %>
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 text-right">
      <% if current_user %>
        <a href="<%= site_link(current_user.site) %>"
          class="btn btn-success">Go to your site &rarr;</a>
      <% else %>
        <a href="<%= login_path %>"
          class="btn btn-default">Login</a>&nbsp;&nbsp;
        <a href="<%= signup_path %>"
          class="btn btn-success">Get started &rarr;</a>
      <% end %>
    </div>
  </div>
</div>
