<div class="row">
  <% @sites.each do |site| %>
    <div class="block block-site col-md-4">
      <a href="<%= root_url(subdomain: site.subdomain) %>">
        <div class="block-inner" style="background-color: <%= site.color %>;">
          <iframe src="<%= root_url(subdomain: site.subdomain, iframe: true) %>"></iframe>
          <span class="block-caption" style="background-color: <%= site.color %>;">
            <%= root_url(subdomain: site.subdomain).gsub('http://', '').gsub('/', '') %>
          </span>
        </div>
      </a>
    </div>
  <% end %>
</div>
