<div class="blocks">
  <% @sites.each do |site| %>
    <% next if site.blocks.count < 1 %>
    <style>
      #<%= dom_id(site) %> {
        border-color: <%= site.color %>;
      }
      #<%= dom_id(site) %> .block-caption {
        background-color: <%= site.color %>;
      }
      #<%= dom_id(site) %> .block-text a {
        color: <%= site.color %>;
        border-color: <%= site.color %>;
      }
    </style>
    <div id="<%= dom_id(site) %>" class="block block-site <%= 'is-themed' if site.color.present? %>">
      <a class="block-link" href="<%= root_url(subdomain: site.subdomain) %>"></a>
      <div class="block-inner">
        <div class="page-header">
          <h1 class="page-title"><%= site.name %></h1>
          <div class="page-description">
            <%= markdown(site.description) if site.description.present? %>
          </div>
        </div>
        <div class="blocks">
          <%= render site.blocks.where.not(type: 'Space').limit(1) %>
        </div>
      </div>
      <span class="block-caption">
        <%= root_url(subdomain: site.subdomain).gsub('http://', '').gsub('/', '') %>
      </span>
    </div>
  <% end %>
</div>
