
<!-- Jumbotron -->
<section class="jumbotron jumbotron-home text-center">
  <div class="container">
    <h1>
      A great website makes your idea take flight!
    </h1>
    <p class="lead">
      Upsite is a friendly, simple way to make a website people will love.
    </p>
  </div>
</section>

<hr class="spacer spacer-md">

<!-- Super Powers -->
<section class="text-center well well-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="<%= image_path('website/diy.png') %>" height="165">
        <h3>Do it yourself.</h3>
        <p class="text-medium">
          Make your own website quickly and easily,
          <strong>no technical support required.</strong>
          Try our free plan to get your idea of the ground.
        </p>
      </div>
      <hr class="spacer spacer-sm visible-xs">
      <div class="col-sm-4">
        <img src="<%= image_path('website/spread.png') %>" height="165">
        <h3>Spread the word.</h3>
        <p class="text-medium">
          We guide you to create a website that's both
          <strong>easy to use</strong> and <strong>looks great</strong>,
          with a design that fits your image.
        </p>
      </div>
      <hr class="spacer spacer-sm visible-xs">
      <div class="col-sm-4">
        <img src="<%= image_path('website/achieve.png') %>" height="165">
        <h3>Achieve your goals!</h3>
        <p class="text-medium">
          Turn your visitors into <strong>fans and customers</strong>,
          with stats and updates to help you track your progress and acheive your goals.
        </p>
      </div>
    </div>
  </div>
</section>

<hr class="spacer spacer-sm">

<!-- Examples -->
<section class="text-center">
  <div class="container">
    <h2>Upsite is perfect for&hellip;</h2>
    <hr class="spacer spacer-sm">
    <div class="row">
      <div class="col-sm-4">
        <img src="<%= image_path('website/business.png') %>" height="71" />
        <h3>Small Businesses</h3>
        <p>
          <a href="<%= signup_path %>" title="Coming Soon!" data-toggle="tooltip" data-placement="bottom">
            Demo <i class="fa fa-external-link"></i>
          </a>
        </p>
      </div>
      <hr class="spacer spacer-sm visible-xs">
      <div class="col-sm-4">
        <img src="<%= image_path('website/book.png') %>" height="63" />
        <h3>Book Launches</h3>
        <p>
          <a href="<%= signup_path %>" title="Coming Soon!" data-toggle="tooltip" data-placement="bottom">
            Demo <i class="fa fa-external-link"></i>
          </a>
        </p>
      </div>
      <hr class="spacer spacer-sm visible-xs">
      <div class="col-sm-4">
        <img src="<%= image_path('website/idea.png') %>" height="64" />
        <h3>Validating Ideas</h3>
        <p>
          <a href="<%= signup_path %>" title="Coming Soon!" data-toggle="tooltip" data-placement="bottom">
            Demo <i class="fa fa-external-link"></i>
          </a>
        </p>
      </div>
    </div>
    <hr class="spacer spacer-sm">
    <div class="row">
      <div class="col-sm-4">
        <img src="<%= image_path('website/personal.png') %>" height="59" />
        <h3>Personal Sites</h3>
        <p>
          <a href="<%= signup_path %>" title="Coming Soon!" data-toggle="tooltip" data-placement="bottom">
            Demo <i class="fa fa-external-link"></i>
          </a>
        </p>
      </div>
      <hr class="spacer spacer-sm visible-xs">
      <div class="col-sm-4">
        <img src="<%= image_path('website/restaurant.png') %>" height="55" />
        <h3>Restaurants &amp; Cafes</h3>
        <p>
          <a href="<%= signup_path %>" title="Coming Soon!" data-toggle="tooltip" data-placement="bottom">
            Demo <i class="fa fa-external-link"></i>
          </a>
        </p>
      </div>
      <hr class="spacer spacer-sm visible-xs">
      <div class="col-sm-4">
        <img src="<%= image_path('website/event.png') %>" height="71" />
        <h3>Promoting Events</h3>
        <p>
          <a href="<%= signup_path %>" title="Coming Soon!" data-toggle="tooltip" data-placement="bottom">
            Demo <i class="fa fa-external-link"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<hr class="spacer spacer-lg">

<!-- Call To Action -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="well well-lg text-center-xs">
          <div class="row">
            <div class="col-sm-6">
              <p class="lead">
                Upsite is <strong>free</strong> to use and
                simple to get started with.
              </p>
            </div>
            <hr class="spacer spacer-xs visible-xs">
            <div class="col-sm-4 col-sm-offset-1">
              <a href="<%= signup_path %>" class="btn btn-lg btn-success">Sign up for free</a>
            </div>
          </div>
        </div>
        <p class="text-center small">
          You can easily upgrade to our <a href="#pricing">Pro plan</a> which offer more features.
        </p>
      </div>
    </div>
  </div>
</section>

<hr class="spacer spacer-lg">

<!-- Pricing -->
<section class="well well-lg">
  <div class="container" id="pricing">
    <hr class="spacer spacer-sm">
    <h2 class="text-center">Plans &amp; Pricing</h2>
    <hr class="spacer spacer-sm">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <h2>Free</h2>
              <div class="text-muted">
                <p class="lead">
                  <span class="small">$</span>
                  <strong class="lead-number">0</strong>
                  <div class="small">always</div>
                </p>
              </div>
            </div>
            <hr class="spacer spacer-xs">
            <ul class="list-unstyled fa-ul">
              <li>
                <i class="fa fa-li fa-heart"></i>
                <strong>A great website</strong><br>
                <p class="text-muted">
                  with all the features you need
                </p>
              </li>
              <li>
                <i class="fa fa-li fa-bullhorn"></i>
                <strong>Ad-supported</strong><br>
                <p class="text-muted">
                  to keep Upsite free we show a single, relevant ad on your site<br>
                  <!-- <a href="#" class="small">See an example</a> -->
                </p>
              </li>
              <li>
                <i class="fa fa-li fa-globe"></i>
                <strong>Upsite URL</strong><br>
                <p class="text-muted">
                  &lt;yoursite&gt;.upsite.io
                </p>
              </li>
            </ul>
            <div class="text-center">
              <hr class="spacer spacer-xs" style="padding: 34px 0;">
              <p class="text-muted small">
                Our Free plan is really free.  No surprises or time-limits and no pressure to upgrade.
              </p>
              <hr class="spacer spacer-sm">
              <a href="<%= signup_path %>" class="btn btn-lg btn-success">Sign up for free</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <h2>Pro</h2>
              <div class="text-muted">
                <p class="lead">
                  <span class="small">$</span>
                  <strong class="lead-number">49</strong>
                  <div class="small">per year</div>
                </p>
              </div>
            </div>
            <hr class="spacer spacer-xs">
            <ul class="list-unstyled fa-ul">
              <li>
                <i class="fa fa-li fa-heart"></i>
                <strong>A great website</strong>
                <p class="text-muted">
                  with all the features you need
                </p>
              </li>
              <li>
                <i class="fa fa-li fa-globe"></i>
                <strong>Your URL</strong>
                <p class="text-muted">
                  use your own domain name
                </p>
              </li>
              <li>
                <i class="fa fa-li fa-comments"></i>
                <strong>Support</strong>
                <p class="text-muted">
                  from our friendly help team
                </p>
              </li>
              <li>
                <i class="fa fa-li fa-rocket"></i>
                <strong>Promotion</strong>
                <p class="text-muted">
                  across the Upsite network
                </p>
              </li>
            </ul>
            <div class="text-center">
              <hr class="spacer spacer-xs">
              <p class="text-muted small">
                Our Pro plan is billed yearly. There are no long-term contracts and you can cancel at any time.
              </p>
              <hr class="spacer spacer-sm">
              <a href="<%= signup_path %>" class="btn btn-lg btn-success">Upgrade to Pro</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="text-center">
          <p>
            Questions? &mdash; <a href="mailto:hello@upsite.io">Get in touch</a>
          </p>
          <p class="small text-muted">
            Prices are shown in $ USD and exclude VAT
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr class="spacer spacer-lg">
</section>
