<%= content_for(:title, 'Upsite.markdown') %>
<%= content_for(:header, 'false') %>
<%= content_for(:footer, 'false') %>

<div class="wrapper">
  <div class="column column-a">
    <i class="slide-caret fa fa-caret-right" style="color: #fff;"></i>
    <div class="slide">
      <h2 class="text-center">
        <span class="underline">Upsite</span> turns <img src="<%= image_path('signup/markdown.png') %>" width="60">
      </h2>
      <div class="spacer spacer-xs hidden-xs"></div>
<pre class="pre-lg" style="width: 100%;">
> Text

![Images](http://giphy.com/abc)

![Videos](http://youtube.com/xyz)

![Audio](http://soundcloud.com/jkl)

![Maps](http://maps.google.com/qwe)

![Anything](http://anywhere.com/asd)

#[Colors](#bada55)
</pre>
      <div class="spacer spacer-xs"></div>
      <% if params[:ref] == 'producthunt' %>
        <div class="form-group">
          <div class="media media-flex">
            <div class="media-left hidden-xs">
              <img src="<%= image_path('signup/glasshole-kitty.png') %>" width="80" />
            </div>
            <div class="media-body">
              <a href="<%= signup_path(markdown: true) %>" class="btn btn-lg btn-success" style="margin-top: 0;">
                Try the beta, exclusive to Product Hunters!
              </a>
            </div>
          </div>
        </div>
      <% else %>
        <a href="#" class="btn btn-lg btn-success" disabled>
          Coming Soon&hellip;
        </a>
      <% end %>
      <div class="spacer spacer-xs"></div>
    </div>
  </div>
  <div class="column column-inverse column-b">
    <div class="slide" style="background: #00d37a;">
      <h2 class="text-center">
        ..into a beautiful, simple website
      </h2>
      <img src="<%= image_path('signup/meleyal-site.png') %>" class="img-responsive">
    </div>
  </div>
</div>
