<div class="hud">
  <a href="<%= new_block_path %>" class="add symbol symbol-green symbol-small" title="Add" data-toggle="modal" data-target="#modal" rel="tooltip" data-placement="left">
    <i class="fa fa-plus fa-lg"></i>
  </a>

  <a href="<%= settings_path %>" class="symbol symbol-green symbol-small" title="Settings" data-toggle="modal" data-target="#modal" rel="tooltip" data-placement="left">
    <i class="fa fa-cog fa-lg"></i>
  </a>

  <a href="<%= sites_path %>" class="symbol symbol-green symbol-small" title="Sites" data-toggle="modal" data-target="#modal" rel="tooltip" data-placement="left">
    <i class="fa fa-random fa-lg"></i>
  </a>

  <a href="<%= donate_path %>" class="symbol symbol-green symbol-small" title="Donate" data-toggle="modal" data-target="#modal" rel="tooltip" data-placement="left">
    <i class="fa fa-heart fa-lg"></i>
  </a>

  <a href="<%= new_help_path %>" class="help symbol symbol-green symbol-small" title="Help" data-toggle="modal" data-target="#modal" rel="tooltip" data-placement="left">
    <i class="fa fa-question fa-lg"></i>
  </a>
</div>

<div class="hud hud-bottom">
</div>
