
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Settings</h4>
</div>

<ul class="modal-nav nav nav-tabs">
  <li class="active"><a href="#basic" data-toggle="tab">Basic</a></li>
  <li><a href="#sites" data-toggle="tab">Sites</a></li>
  <li><a href="#account" data-toggle="tab">Account</a></li>
</ul>

<div class="tab-content">

  <!-- Basic -->
  <div class="tab-pane active" id="basic">
    <%= simple_form_for(@site, url: settings_path, remote: true) do |f| %>
      <div class="modal-body">
        <%= f.input :name %>
        <%= f.input :description, as: :text, input_html: { rows: 4 }, hint: '600 character limit' %>
        <%= f.input :color, label: 'Favorite color', input_html: { data: { toggle: 'colorpicker' } } %>
        <a href="<%= upgrade_path(source: 'custom-domain') %>" class="form-group-click-target" data-target="self">
          <%= f.input :domain,
            label: "Custom URL <span class='label label-success'>ADD-ON</span>".html_safe,
            input_html: { disabled: true, placeholder: 'yourdomain.com' } %>
        </a>
      </div>
      <div class="modal-footer">
        <%= f.button :submit, class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>

  <!-- Account   -->
  <div class="tab-pane" id="account">
    <%= simple_form_for(@site, url: settings_path, remote: true) do |f| %>
    <div class="modal-body">
      <%= f.fields_for(:owner) do |ff| %>
        <a href="<%= new_help_path(message: 'Please change my email / passsword') %>" class="form-group-click-target" data-target="self">
          <%= ff.input :email, disabled: true %>
          <%= ff.input :password, placeholder: '•••••••••••', disabled: true %>
        </a>
      <% end %>
    </div>
    <div class="modal-footer">
      <div class="pull-left">
        <%= link_to 'Log out', logout_url(subdomain: 'www'),
              method: 'delete',
              class: 'btn btn-default',
              tabindex: -1,
              data: { confirm: 'Are you sure you want to log out?' } %>
        <a href="<%= new_help_path(message: 'Please delete my account') %>"
           data-toggle="modal"
           data-target="self"
           class="btn btn-danger-outline">
          Delete Account
        </a>
      </div>
      <%= f.button :submit, class: 'btn btn-success' %>
    </div>
    <% end %>
  </div>

  <!-- Sites -->
  <div class="tab-pane" id="sites">
    <%= simple_form_for(@site, url: settings_path, remote: true) do |f| %>
      <div class="modal-body">
        <ul class="list-group" style="max-height: 350px; overflow: auto; border-bottom: 1px solid #ddd;">
          <% current_user.sites.each do |site| %>
            <% next unless site == current_user.site %>
            <li class="list-group-item" href="<%= site_link(site) %>">
              <div class="media">
                <div class="media-left media-middle">
                  <a href="<%= site_link(site) %>">
                    <img class="media-object img-circle" src="<%= site_favicon_link(site) %>" width="35">
                  </a>
                </div>
                <div class="media-body">
                  <span class="pull-right" style="padding-top: 2px;">
                    <!-- <a href="<%= site_link(site) %>" class="btn btn-danger-outline" disabled>Delete</a> -->
                    <a href="<%= site_link(site) %>" class="btn btn-default">Open</a>
                  </span>
                  <h4 class="media-heading" style="margin: 10px 0 0 0;">
                    <a href="<%= site_link(site) %>" class="text-link">
                      <%= site.name %>
                    </a>
                  </h4>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="modal-footer">
        <span class="pull-left">
          <a href="<%= signup_url(subdomain: 'www') %>" class="btn btn-success">Create a new site</a>
          &nbsp;&nbsp; <span class="text-muted">You can create as many sites as you need.</span>
        </span>
      </div>
    <% end %>
  </div>

</div>
