<% content_for :title, @site.name %>
<% content_for :url, root_url(subdomain: @site.subdomain) %>
<% content_for :description, @site.description %>
<% content_for :favicon, site_favicon_link(@site) %>
<%= render 'theme.css.scss' %>

<div class="spacer spacer-md"></div>

<div class="row">
  <div class="col-sm-8">
    <%
    text = @site.body.present? ? @site.body : "#{@site.name}\n#{@site.name.gsub(/./, '=')}\n\n"
    text = t('markdown.example') if params[:example].present?
    %>
    <%= simple_form_for(@site, url: edit_path, remote: !true) do |f| %>
      <%= f.input :body, label: false, as: :text, input_html: {
          value: text,
          class: 'form-control-code', rows: 40 } %>
      <input type="hidden" name="edit" value="true">
      <%= f.button :submit, class: 'btn btn-success', style: 'width: 200px; line-height: 2;' %>

    <% end %>
  </div>
  <div class="col-sm-4">
    <h4>Upsite.markdown</h4><br>
    <table class="table">
      <tr>
        <th>Title</th>
        <td>
<pre>
Title
=====

Subtitle
</pre>
        </td>
      </tr>
      <tr>
        <th>Text</th>
        <td>
<pre>
```
text
```
</pre>
        </td>
      </tr>
      <tr>
        <th>Embed</th>
        <td>
<pre>
![<em>caption</em>](url)
</pre>
        </td>
      </tr>
      <tr>
        <th>Space</th>
        <td>
<pre>
#[<em>caption</em>](color)
</pre>
        </td>
      </tr>
    </table>
    <ul class="text-muted">
      <li>
        <em>Italicized</em> params optional
      </li>
      <li>
        Standard <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">markdown</a> supported<br>
      </li>
      <li>
        Embeds supported from <a href="http://embed.ly/providers" target="_blank">400+ sites</a></a>
      </li>
      <li>
        <span class="label label-warning">Help</span>
        <a href="<%= edit_path(example: true) %>">Load example markdown</a>
      </li>
    </ul>
  </div>
</div>

<% if current_user == @site.owner %>
  <%= render 'hud' %>
  <%= render 'modal' %>
  <%= render 'modal', size: 'xl' %>
<% end %>

<footer class="page-footer">
  <small class="text-muted pull-right">
    Made with
    <a href="<%= signup_url(subdomain: 'www', ref: @site.subdomain) %>" class="underline" rel="tooltip" data-placement="left" title="Make a site like this for free" style="margin-left: 2px;">
      <strong>Upsite</strong>
    </a>
  </small>
  <small class="text-muted">
    &copy; <%= Date.today.year %> <%= @site.name %>
    <% unless current_user %>
      / <%= link_to "Login", login_url(subdomain: 'www') %>
    <% end %>
  </small>
</footer>
