<% content_for :title, @site.name %>

<%= render 'theme.css.scss' %>

<div class="page-header">
  <div class="container">
    <div class="col-sm-12">
      <h1><%= @site.name %></h1>
      <p><%= @site.description %></p>
    </div>
  </div>
</div>

<div class="page-content">
  <div class="container">
    <% if @blocks.present? %>
      <%= render @blocks %>
    <% else %>
      <%# render 'styleguide/text' %>
      <%# render 'styleguide/image' %>
      <%# render 'styleguide/embed' %>
      <%# render 'styleguide/text' %>
      <%# render 'styleguide/embed' %>
      <%# render 'styleguide/image' %>
      <%# render 'styleguide/nav_bar' %>
      <%# render 'styleguide/image_fill' %>
      <%# render 'styleguide/spacer' %>
      <%# render 'styleguide/text_fill' %>
      <%# render 'blank_slate' %>
    <% end %>
  </div>
</div>

<%= render 'hud' %>
<%= render 'modal' %>
<%= render 'modal', size: 'small' %>

<!-- <a class="app-link" href="http://www.upsite.io/" target="_blank" title="<%= t('tagline') %>"><%= t('app_name') %></a> -->
