<% content_for :title, @site.name %>
<% content_for :url, root_url(subdomain: @site.subdomain) %>
<% content_for :description, @site.description %>
<% content_for :favicon, site_favicon_link(@site) %>
<%= render 'theme.css.scss' %>

<div class="page-header">
  <h1 class="page-title">
    <%= @site.name %>
  </h1>
  <div class="page-description">
    <%= markdown(@site.description) if @site.description.present? %>
  </div>
</div>

<div class="blocks" data-sortable>
  <% if @blocks.present? %>
    <%= render @blocks %>
  <% end %>
</div>

<% if current_user == @site.owner %>
  <%= render 'hud' %>
  <%= render 'modal' %>
  <%= render 'modal', size: 'xl' %>
<% end %>

<footer class="page-footer">
  <small class="text-muted pull-right">
    Made with
    <a href="<%= signup_url(subdomain: 'www', ref: @site.subdomain) %>" class="underline" rel="tooltip" data-placement="left" title="Make a site like this for free" style="margin-left: 2px;">
      <strong>Upsite</strong>
    </a>
  </small>
  <small class="text-muted">
    &copy; <%= Date.today.year %> <%= @site.name %>
    <% unless current_user %>
      / <%= link_to "Login", login_url(subdomain: 'www') %>
    <% end %>
  </small>
</footer>
