<% content_for :title, @site.name %>
<% content_for :url, root_url(subdomain: @site.subdomain) %>
<% content_for :description, @site.description %>
<% content_for :favicon, site_favicon_link(@site) %>
<%= render 'theme.css.scss' %>

<% if flash[:notice] %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="blocks blocks-markdown">
  <%= markdown_custom(@site.body) if @site.body.present? %>
</div>

<% if current_user == @site.owner %>
  <%= render 'hud' %>
  <%= render 'modal' %>
  <%= render 'modal', size: 'xl' %>
<% end %>

<% if @site.body.present? %>
  <%= render 'footer' %>
<% end %>
