<header class="page-header">
  <h1>
    <%= @site.title %>
    <small><%= @site.subdomain %>.sitespot.com</small>
  </h1>
</header>

<div class="widgets row"></div>

<footer class="page-footer">
  &copy; <%= "#{Date.today.year} #{@site.title}" %>
</footer>

<% content_for :bootstrap_data do %>
  app.widgets.reset(<%= render_json_template 'widgets/index' %>);
  app.site.set(<%= render_json_template 'sites/show' %>);
<% end %>
