<% content_for :title, @site.name %>
<% content_for :url, root_url(subdomain: @site.subdomain) %>
<% content_for :description, @site.description %>
<%# content_for :preview_image, site_preview_image_link(@site) %>
<% content_for :favicon, site_favicon_link(@site) %>
<%= render 'theme.css.scss' %>

<div class="page-header">
  <h1><%= @site.name %></h1>
  <%= markdown(@site.description) if @site.description.present? %>
</div>

<div class="blocks" data-sortable>
  <% if @blocks.present? %>
    <%= render @blocks %>
    <% if @blocks.length >= 1 # !@site.owner.pro? && @blocks.length >= 5 %>
      <%= render 'blocks/ad/ad' %>
    <% end %>
  <% end %>
</div>

<% if current_user == @site.owner %>
  <%= render 'hud' %>
  <%= render 'modal' %>
  <%= render 'modal', size: 'small' %>
<% end %>

<footer class="page-footer">
  <small class="text-muted">
    &copy; <%= Date.today.year %> <%= @site.name %>
    <% unless current_user %>
      / <%= link_to "Log in", login_url(subdomain: 'www') %>
    <% end %>
  </small>
</footer>
