<% content_for :page_title, @site.name %>

<%= render 'theme.css.scss' %>

<% if false && @blocks.present? %>
  <%= render @blocks %>
<% else %>
  <%= render 'styleguide/text', image_align: 'right' %>
  <%# render 'styleguide/nav_bar' %>
  <%# render 'styleguide/image_fill' %>
  <%# render 'styleguide/spacer' %>
  <%# render 'styleguide/text_fill' %>
  <%# render 'styleguide/image' %>
  <%# render 'blank_slate' %>
<% end %>

<%= render 'hud' %>
<%= render 'modal' %>
<%= render 'modal', size: 'small' %>

<!-- <a class="app-link" href="http://www.upsite.io/" target="_blank" title="<%= t('tagline') %>"><%= t('app_name') %></a> -->
