<% content_for :title, @site.name %>

<%= render 'theme.css.scss' %>

<div class="page-header">
  <h1><%= @site.name %></h1>
  <p><%= @site.description %></p>
</div>

<div class="blocks" data-sortable>
  <% if @blocks.present? %>
    <%= render @blocks %>
    <% if !@site.owner.pro? && @blocks.length >= 5 %>
      <%= render 'blocks/ad/ad' %>
    <% end %>
  <% end %>
</div>

<% if current_user == @site.owner %>
  <%= render 'hud' %>
  <%= render 'modal' %>
  <%= render 'modal', size: 'small' %>
<% end %>

<footer class="page-footer">
  <small class="text-muted">
    &copy; <%= Date.today.year %> <%= @site.name %>
    <% unless current_user %>
      / <%= link_to "Log in", login_url(subdomain: 'www') %>
    <% end %>
  </small>
</footer>
