<header class="page-header">
  <h1>
    <%= @site.title %>
    <small><%= @site.subdomain %>.sitespot.com</small>
  </h1>
</header>

<div class="widgets row"></div>

<hr>

<footer>
  &copy; <%= "#{Date.today.year} #{@site.title}" %>
</footer>

<%= javascript_tag do %>
  $(document).ready(function(){
    app.widgets.reset(<%= raw @site.widgets.to_json %>);
  });
<% end %>
