<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <title><%= content_for?(:title) ? content_for(:title) : t('tagline_short') %> | <%= t('app_name') %></title>

  <!-- Favicons -->
  <link rel="shortcut icon" href="<%= content_for(:favicon) %>">

  <!-- Open Graph Tags -->
  <meta property="og:url" content="<%= content_for(:url) %>">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= content_for(:title) %> | <%= t('app_name') %>">
  <meta property="og:description" content="<%= content_for(:description) %>">
  <meta property="og:image" content="<%= content_for(:preview_image) %>">
  <meta property="og:image:type" content="image/png">
  <meta property="fb:app_id" content="221451268244315">

  <!-- Assets -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :stylesheets %>
</head>

<body>
  <div class="container">
    <%= yield %>
  </div>
  <%= render 'analytics' if Rails.env.production? %>
</body>

</html>
