<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= t 'app_name' %>: Make your own website</title>
    <meta name="description" content="<%= t 'tagline' %>">
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:600,700,400' rel='stylesheet' type='text/css'>
    <!-- <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>  -->
    <%= stylesheet_link_tag "signups" %>
  </head>
  <body>


    <% if current_user %>
      Logged in :)
      <%= link_to "Logout", logout_path, method: "delete" %> | 
      <%= link_to "My page", root_url(subdomain: current_page.subdomain) %> 
    <% else %>
      Not logged in :(
      <%= link_to "Login", login_path %> 
    <% end %>

    <%= yield %>

    <footer>
      <div class="container center">
        <p>
          &copy; <%= Date.today.year %> PageKit &nbsp; Made in Vienna
        </p>
      </div>
    </footer>

    <%= javascript_include_tag "signups" %>

    <% if Rails.env.production? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-730987-25', 'pagekitapp.com');
        ga('send', 'pageview');

      </script>
    <% end %>

  </body>
</html>
