<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <title><%= content_for?(:title) ? content_for(:title) : t('tagline_short') %> | <%= t('app_name') %></title>
  <!-- <meta name="description" content=""> -->
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico?v=1">

  <!-- Assets -->
  <%= stylesheet_link_tag "website" %>
  <%= javascript_include_tag "website" %>
</head>

<body>
  <div class="container">
    <%= render 'website/header' %>
    <%= yield %>
    <%= render 'website/footer' %>
  </div>
  <%= render 'analytics' if Rails.env.production? %>
</body>

</html>
