<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <title><%= content_for?(:title) ? content_for(:title) : t('tagline_short') %> | <%= t('app_name') %></title>
  <meta name="description" content="<%= content_for?(:description) ? content_for(:description) : t('tagline') %>">

  <!-- Favicons -->
  <link rel="shortcut icon" href="/favicon.ico?v=4">

  <!-- Open Graph Tags -->
  <meta property="og:url" content="<%= root_url(subdomain: 'www') %>">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= t('tagline_short') %> | <%= t('app_name') %>">
  <meta property="og:description" content="<%= t('tagline') %>">
  <meta property="og:image" content="<%= image_url('icon.png') %>">
  <meta property="fb:app_id" content="221451268244315">

  <!-- Assets -->
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

  <!-- Analytics -->
  <%= render 'facebook' if Rails.env.production? %>
</head>

<body>

  <%= render 'cookie_consent_banner' %>

  <div class="container">
    <%= render('website/header') unless content_for?(:header).present? %>
    <%= yield %>
    <%= render 'website/footer' %>
  </div>

  <!-- Analytics -->
  <%= render 'google' if Rails.env.production? %>
  <%= render 'twitter' if Rails.env.production? %>
  <%= render 'intercom' %>

</body>

</html>
