<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <title><%= content_for?(:title) ? content_for(:title) : t('tagline_short') %> | <%= t('app_name') %></title>

  <!-- Favicons -->
  <link rel="shortcut icon" href="/favicon.ico?v=4">

  <!-- Open Graph Tags -->
  <!-- <meta property="og:image" content=""> -->
  <!-- <meta property="og:image:type" content="image/png"> -->
  <!-- <meta property="og:image:width" content="400"> -->
  <!-- <meta property="og:image:height" content="400"> -->

  <!-- Assets -->
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
</head>

<body>
  <div class="container">
    <%= render 'website/header' %>
    <%= yield %>
    <%= render 'website/footer' %>
  </div>
  <%= render 'analytics' if Rails.env.production? %>
</body>

</html>
